.navbar-brand img {
      height: 60px;
      width: auto;
      opacity: 0.8;
      transition: transform 0.3s ease;
    }

.navbar-brand img:hover {
      transform: scale(1.05);
    }
.navbar {
      background-color: transparent !important;
      box-shadow: none;
      font-family: "Changa One", sans-serif;
    }
.hero-section {
      background: url("media/background_image.png") no-repeat center center;
      font-family: "Bricolage Grotesque", sans-serif;
      background-size: cover;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 100px 20px;
      color: black;
    }

.hero-section .line-0 {
      font-size: 20px;
      color: rgb(52, 52, 52);
      margin-left: -20px;
    }

    .hero-section .line-1 {
      font-size: 60px;
      font-weight: 600;
      color: #166534cf;
      margin-left: -20px; 
    }

    .hero-section .line-2 {
      font-size: 80px;
      font-weight: 800;
      color: #166534;
      margin-left: -20px;
    }
.hero-section .line-3 {
      font-size: 18px;
      font-weight: 400;
      color: rgba(33, 33, 33, 0.867);
      margin-top: 20px;
      margin-left: -20px;
    }

.btn-get-started {
      background-color: #166534cf;
      color: white;
      border: 1px solid #13562dcf;
      padding: 12px 24px;
      border-radius: 8px;
      font-weight: bold;
      font-size: 16px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

.btn-get-started:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 8px rgba(48, 48, 48, 0.1);
    }

.btn-signin {
      color: #16a34a;
      background: white;
      border: 1px solid #16a34a;
      font-weight: bold;
      padding: 8px 18px;
      border-radius: 8px;
      transition: transform 0.3s ease;
    }

.btn-signin:hover {
      transform: scale(1.05);
    }