* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 75px;
  padding: 0 40px;
  width: 100%;
}

.logo-text img {
  transition: transform 0.3s ease;
  height: 48px;
  width: 170px;
}

.logo-text img:hover {
  transform: scale(1.1);
}
.nav-bar-buttons {
  display: flex;
  gap: 30px;
}

.nav-bar-buttons a {
  color: grey;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
}

.nav-bar-buttons a:hover {
  color: black;
}

.register-login {
  display: flex;
  position: relative;
  gap: 10px;
}

.sign-in,
.get-started {
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.3s ease;
  text-align: center;
}
.sign-in {
  color: #16a34a;
  background-color: white;
  border: 1px solid #16a34a;
}

.get-started {
  color: white;
  background-color: #16a34a;
  border: 1px solid #16a34a;
}

.sign-in:hover,
.get-started:hover {
  transform: scale(1.1);
}
.get-started:hover {
  box-shadow: 0 4px 8px rgba(48, 48, 48, 0.1);
}
.mini-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("./media/background_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  color: black;
  padding: 100px;
}
.line-1 {
  position: absolute;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 550;
  top: 100px;
  left: 10px;
  font-size: 50px;
  color: #166534cf;
}
.line-2 {
  position: absolute;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 50px;
  left: 20px;
  top: 150px;
  color: #166534;
}
.line-3 {
  position: relative;
  left: -300px;
  top: 150px;
  color: grey;
}
.search-bar-mini-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.search-bar-mini-intro input {
  background-color: white;
  border: white solid 1px;
  border-radius: 7px;
  width: 300px;
  height: 25px;
  font-size: small;
  text-align: center;
  color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 5px; 
}
.search-bar-mini-intro .search-store-button {
  color: white;
  border: white solid 1px;
  background-color: #16a34a;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: 10px;
}
.search-bar-mini-intro .search-store-button i {
  margin-right: 10px;
  font-size: 12px;
}
.search-bar-mini-intro input:focus {
  outline: none;
  border-color: #16a34a;
  box-shadow: 0 0 5px rgba(22, 163, 74, 0.5);
}
.mini-page-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0 auto;
  width: 700px;
  gap: 10px;
}
.mini-page-tags a {
  
  color: white;
  font-size: small;
  margin: 20px;
  padding: 2px;
  border-radius: 10px;
}
.mini-page-tags a i {
  margin: 5px;
  color: #16a34a;
}