* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 75px;
  padding: 0 40px;
  width: 100%;
  border-bottom: 1px solid grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-text a {
  color: #16a34a;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.nav-bar-buttons {
  display: flex;
  gap: 30px;
}

.nav-bar-buttons a {
  color: grey;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
}

.nav-bar-buttons a:hover {
  color: black;
}

.register-login {
  display: flex;
  position: relative;
  gap: 10px;
}

.sign-in,
.get-started {
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.3s ease;
  text-align: center;
}
.sign-in {
  color: #16a34a;
  background-color: white;
  border: 1px solid #16a34a;
}

.get-started {
  color: white;
  background-color: #16a34a;
  border: 1px solid #16a34a;
}

.sign-in:hover,
.get-started:hover {
  transform: scale(1.1);
}
.get-started:hover {
  box-shadow: 0 4px 8px rgba(48, 48, 48, 0.1);
}
.mini-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: radial-gradient(circle, #dffaef, rgb(239, 239, 239));
  height: 500px;
  width: 100%;
  color: black;
  padding: 100px;
}
.line-1 {
  color: #166534;
}
.line-2 {
  color: grey;
}
.search-bar-mini-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.search-bar-mini-intro input {
  background-color: white;
  border: white solid 1px;
  border-radius: 7px;
  width: 300px;
  height: 25px;
  font-size: small;
  text-align: center;
  color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.search-bar-mini-intro .search-store-button {
  color: white;
  border: white solid 1px;
  background-color: #16a34a;
  
}