* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  height: 75px;
  padding: 0 40px;
  width: 100%;
}

.logo-text img {
  transition: transform 0.3s ease;
  opacity: 0.7;
  height: 70px;
  width: 250px;
}

.logo-text img:hover {
  transform: scale(1.05);
}
.nav-bar-buttons {
  display: flex;
  gap: 30px;
}

.nav-bar-buttons a {
  color: rgb(90, 90, 90);
  font-family: "Changa One", sans-serif;
  font-weight: 550;
  font-size: 20px;
  transition: color 0.3s;
  text-decoration: none;
}

.nav-bar-buttons a:hover {
  color: #166534cf;
}

.register-login {
  display: flex;
  position: relative;
  gap: 10px;
}
.mini-intro-buttons {
  position: absolute;
  top: 480px;
  left: 100px;
}
.sign-in,
.get-started {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.3s ease;
  text-align: center;
  font-size: 16px;
}
.sign-in {
  color: #16a34a;
  background-color: white;
  border: 1px solid #16a34a;
}

.get-started {
  color: white;
  background-color: #166534cf;
  border: 1px solid #13562dcf;
}

.sign-in:hover,
.get-started:hover {
  transform: scale(1.1);
}
.get-started:hover {
  box-shadow: 0 4px 8px rgba(48, 48, 48, 0.1);
}
.mini-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("./media/background_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  color: black;
  padding: 100px;
}
.line-0 {
  position: absolute;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 550;
  top: 120px;
  left: 25px;
  font-size: 20px;
  color: rgb(52, 52, 52);
}
.line-1 {
  position: absolute;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 550;
  top: 150px;
  left: 10px;
  font-size: 60px;
  color: #166534cf;
}
.line-2 {
  position: absolute;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 80px;
  left: 20px;
  top: 200px;
  color: #166534;
}
.line-3 {
  font-family: "Bricolage Grotesque", sans-serif;
  position: absolute;
  left: 20px;
  font-size: 18px;
  top: 300px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.867);
}
.search-bar-mini-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.search-bar-mini-intro input {
  background-color: white;
  border: white solid 1px;
  border-radius: 7px;
  width: 300px;
  height: 25px;
  font-size: small;
  text-align: center;
  color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 5px; 
}
.search-bar-mini-intro .search-store-button {
  color: white;
  border: white solid 1px;
  background-color: #16a34a;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: 10px;
}
.search-bar-mini-intro .search-store-button i {
  margin-right: 10px;
  font-size: 12px;
}
.search-bar-mini-intro input:focus {
  outline: none;
  border-color: #16a34a;
  box-shadow: 0 0 5px rgba(22, 163, 74, 0.5);
}
.mini-page-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0 auto;
  width: 700px;
  gap: 10px;
}
.mini-page-tags a {
  color: white;
  font-size: small;
  margin: 20px;
  padding: 2px;
  border-radius: 10px;
}
.mini-page-tags a i {
  margin: 5px;
  color: #16a34a;
}
.watch-video i {
  position: absolute;
  left: 243px;
  top: 8px;
  border-radius: 50%;
  font-size: 30px;
  border: #166534;
  color: #20a754;
}
.watch-video-background {
  position: absolute;
  background-color: white;
  height: 45px;
  width: 45px;
  left: 230px;
  top: 0px;
  border: white;
  border-radius: 50%;
}
.watch-video-text {
  
}